<br/>
<h3>Ajout d'un produit</h3>
 <div [hidden]="submitted"> 
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="id">
                Identifiant du produit
            </label>
            <input type="number" id="id" name="id" [(ngModel)]="identifiant" #idf="ngModel" required >
        </div>
           <!-- {{idf.className}}-->
        <div [hidden]="idf.valid||idf.pristine" class="alert alert-danger">
            L'identifiant doit être un chiffre
        </div>
        <div class="form-group">
                <label for="libelle">
                    Libellé du produit
                </label>
                <input type="text" id="libelle" name="lib" [(ngModel)]="libelle"  #lib="ngModel" required>
            </div>

           <br/>   
        <div [hidden]="lib.valid||lib.pristine" class="alert alert-danger">
             Le libellé ne peut pas être une chaîne vide
         </div> 
        <button type="submit" [disabled]="f.invalid"  class="btn btn-success">Enregistrer</button>
        <button class="btn btn-danger" (click)="f.reset(); submitted =false;">Vider</button>
    </form>
</div>

 <div [hidden] ="!submitted">
    {{message}}
    <br/>
    <button (click)="submitted =false; f.reset()" class="btn btn-primary">Retour</button>
</div> 

